<h1>Dashboard</h1>

<h2>Jobs by Interest</h2>
  <div>
    <p>5 stars</p>
    <p>4 stars</p>
    <p>3 stars</p>
    <p>2 stars</p>
    <p>1 star</p>
  </div>
  <div>
    <p><%= @five_stars %> jobs</p>
    <p><%= @four_stars %> jobs</p>
    <p><%= @three_stars %> jobs</p>
    <p><%= @two_stars %> jobs</p>
    <p><%= @one_stars %> jobs</p>
  </div>
<br />
<h2>Top Companies by Interest</h2>
  <ul>
    <li>Company Name</li>
    <li>Number of Stars</li>
  </ul>
<br />

<ul>
  <li><a>Job Location</a></li>
  <li>Number of Jobs</li>
</ul>