All Jobs for <strong><%= @company.name %></strong>

<% @company.jobs.each do |job| %>
  <%= job.title %>
  <%= link_to job.title, job_path(job), class: 'job-title' %>
<% end %>

<br />

<h1>Add New Contact</h1>
<%= form_for(@contact) do |f| %>
<ul>
  <% @article.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
</ul>
  <p>
    <%= f.label "Full Name:" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Position:" %><br />
    <%= f.text_area :position %>
  </p>
  <p>
    <%= f.label "Email:" %><br />
    <%= f.text_area :email %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>